h1 {
  color: rgb(83, 17, 163);
  text-align: center;
  padding-top: 30px;
}
h2 {
  color: rgb(83, 17, 163);
  text-align: center;
  padding-left: 25px;
}

.grid {
  margin: 0 auto;
  background-color: rgb(212, 188, 251);
  padding: 20px;
  border: 1px solid #606165;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: stretch;
  grid-gap: 10px;
  width: 800px;
}
.grid div {
  border-radius: 5px;
  padding: 10px 10px;
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: left;
  justify-content: left;
}
.grid div:nth-child(1) {
  grid-template-columns: 4fr;
  grid-column: 1;
  grid-column-end: span 3;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
.grid div:nth-child(2) {
  grid-column: 4;
  grid-template-columns: 1fr;
  grid-column-end: span 1;
}
.grid div:nth-child(3) {
  grid-column: 1;
  grid-column-end: span 2;
  align-self: center;
  margin-left: 0;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
.grid div:nth-child(4) {
  grid-column: 3;
  grid-column-end: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
.grid div:nth-child(5) {
  grid-column: 1;
  align-self: stretch;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}

.grid div:nth-child(6) {
  grid-column: 2;
  align-self: stretch;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
.grid div:nth-child(7) {
  grid-column: 3;
  align-self: stretch;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
.grid div:nth-child(8) {
  grid-column: 4;
  align-self: stretch;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
.grid div:nth-child(9) {
  grid-column: 5;
  align-self: stretch;
  background-color: #ffffffbf;
  border: 1px solid #212941;
}
li {
  list-style: none;
}
.current-city {
  text-align: center;
  margin-left: 20px;
}
.current-day {
  font-weight: 600;
  font-size: 20px;
}
.current-image-weather {
  display: block;
  margin-left: 0;
}

.current-day-temperature {
  text-align: center;
  font-weight: 400;
  font-size: 50px;
}
.current-day-temperature-celsius {
  font-weight: 300;
  font-size: 20px;
}
.current-day-weather-slash {
  font-weight: 300;
  font-size: 20px;
}
.current-day-temperature-farenheit {
  font-weight: 300;
  font-size: 20px;
}
.current-visibility {
  text-transform: capitalize;
}
small {
  text-align: start;
  grid-column-end: span 2;
}
